    <header class="header">
        <div class="logo"><img src="assets/imagens/logo1.png" alt=""></div>
        <nav class="nav-menu">
            <ul>
                <li><a (click)="navegarParaHome()">Home</a></li>
				<li><a (click)="navegarParaSobre()">Sobre Nós</a></li>
  				<li><a (click)="navegarParaServicos()">Serviços Disponíveis</a></li>
  				<li><a (click)="navegarParaColaboradores()">Colaboradores</a></li>
  				<li><a (click)="navegarParaParcerias()">Parcerias</a></li>
 				<li><a (click)="navegarParaNoticias()">Notícias\Blog</a></li>
  				<li><a (click)="navegarParaEventos()">Eventos</a></li>
                <li><a (click)="navegarParaContato()" >Contato</a></li>
            </ul>
        </nav>
        <div class="login-container">
            <div class="logo"><img src="assets/imagens/usuario.png" alt=""></div>
			<div class="login-text">
				<span class="sign-in-title">Entre</span>
				<span> <br> ou</span>
				<span class="sign-up-title"> Cadastre-se</span>
			</div>
		  </div>
    </header>
