    <header class="header">
        <div class="logo">VIVA</div>
        <nav class="nav-menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Sobre Nós</a></li>
                <li><a href="#">Serviços Disponíveis</a></li>
                <li><a href="#">Colaboradores</a></li>
                <li><a href="#">Parcerias</a></li>
                <li><a href="#">Notícias\Blog</a></li>
                <li><a href="/evento">Eventos</a></li>
                <li><a href="/contato">Contato</a></li>
            </ul>
        </nav>
        <div class="login">
            <i class="fas fa-user"></i>
            <span>Entre <br> ou Cadastre-se</span>
        </div>
    </header>
