    <header class="header">
        <div class="logo">VIVA</div>
        <nav class="nav-menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Sobre Nós</a></li>
                <li><a href="#">Serviços Disponíveis</a></li>
                <li><a href="#">Colaboradores</a></li>
                <li><a href="#">Parcerias</a></li>
                <li><a href="/noticia">Notícias\Blog</a></li>
                <li><a href="/evento">Eventos</a></li>
                <li><a href="/contato">Contato</a></li>
            </ul>
        </nav>
        <div class="login-container">
			<i class="fas fa-user user-icon"></i>
			<div class="login-text">
				<span class="sign-in-title">Entre</span>
				<span> <br> ou</span>
				<span class="sign-up-title"> Cadastre-se</span>
			</div>
		  </div>
    </header>
