<div class="footer-container">
	<footer class="footer">
	  <div class="footer-sections">
		<div class="footer-column">
		  <h5>Menu</h5>
		  <ul>
			<li><a (click)="navegarParaHome()">Home</a></li>
			<li><a (click)="navegarParaSobre()">Sobre Nós</a></li>
			<li><a (click)="navegarParaServicos()">Serviços Disponíveis</a></li>
			<li><a (click)="navegarParaColaboradores()">Colaboradores</a></li>
			<li><a (click)="navegarParaParcerias()">Parcerias</a></li>
			<li><a (click)="navegarParaNoticias()">Notícias\Blog</a></li>
			<li><a (click)="navegarParaEventos()">Eventos</a></li>
			<li><a (click)="navegarParaContato()" >Contato</a></li>
		  </ul>
		</div>
  
		<div class="footer-newsletter">
		  <form>
			<h5>Assine nossa newsletter</h5>
			<p>Fique por dentro das novidades mensais.</p>
			<div class="newsletter-form">
			  <input type="email" placeholder="Seu e-mail">
			  <button type="button">Assinar</button>
			</div>
		  </form>
		</div>
	  </div>
  
	  <div class="footer-bottom">
		<p>&copy; 2025 Viva Cooperativa. Todos os direitos reservados.</p>
		<div class="footer-socials">
		  <a href="#" aria-label="Instagram">Instagram</a>
		  <a href="#" aria-label="Facebook">Facebook</a>
		</div>
	  </div>
	</footer>
  </div>
  