<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Catálogo de Serviços</title>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Raleway:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="servicos.component.css">
</head>
<body>
  <section class="catalogo">
    <div class="title">
      <h2>Serviços Disponíveis</h2>
      <p>Eficiência, qualidade e o suporte que você merece.</p>
     
    </div>
    <div class="container-image">
      <picture>
       
          <source media="(max-width: 768px)" srcset="banner-mobile.jpg">
          
          <img src="assets/imagens/banner-servicos.png" alt="Banner do site">
        </picture>
     </div>
  
    <div class="servicos-container">
      <!-- Educação -->
      <div class="servico">
        <div class="servico-topo">
          <img src="assets/imagens/educacao1.png" alt="Ícone Educação">
        </div>
        <div class="servico-corpo">
          <h3>Educação</h3>
          <p>Capacitamos nossos cooperados e a comunidade com programas educacionais de qualidade, voltados para o desenvolvimento pessoal, profissional e social.</p>
		  <button onclick="window.location.href='/educacao'">Saiba mais</button>
        </div>
      </div>

      <!-- Apoio Financeiro -->
      <div class="servico">
        <div class="servico-topo">
          <img src="assets/imagens/risco1.png" alt="Ícone Apoio">
        </div>
        <div class="servico-corpo">
          <h3>Apoio Financeiro</h3>
          <p>Oferecemos apoio financeiro seguro para estudos, projetos pessoais e empreendimentos, com orientação clara e sem burocracia.</p>
		  <button onclick="window.location.href='/apoiofinanceiro'">Saiba mais</button>
        </div>
      </div>

      <!-- Treinamento -->
      <div class="servico">
        <div class="servico-topo">
          <img src="assets/imagens/treinamento 1.png" alt="Ícone Treinamento">
        </div>
        <div class="servico-corpo">
          <h3>Treinamento</h3>
          <p>Promovemos treinamentos contínuos voltados para a prática e aprimoramento das habilidades técnicas e comportamentais dos nossos cooperados.</p>
		  <button onclick="window.location.href='/treinamento'">Saiba mais</button>
        </div>
      </div>

      <!-- Consultoria -->
      <div class="servico">
        <div class="servico-topo">
          <img src="assets/imagens/consultor1.png" alt="Ícone Consultoria">
        </div>
        <div class="servico-corpo">
          <h3>Consultoria</h3>
          <p>Disponibilizamos consultoria especializada em diversas áreas, com foco em soluções práticas ,sustentáveis e lucrativas para os nossos cooperados.</p>
		  <button onclick="window.location.href='/consultoria'">Saiba mais</button>
        </div>
      </div>
    </div>
  </section>

  <!-- Adcionar banner -->>
  <img>

</body>
</html>
