.body-login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background-color: #ffffff;
    padding: 20px;
  }
  
  .login-content {
    display: flex;
    background-color: #fafafa;
    border: 1px solid #3458FF;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(150, 150, 150, 0.1);
    width: 100%;
    max-width: 850px; /* tamanho normal no desktop */
  }
  
  .login-content h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0056b3;
    font-family: "Raleway", sans-serif;
  }
  
  .login-content form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .login-content input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .login-content button {
    padding: 12px;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-content button:hover {
    background-color: #0056b3;
  }
  
  .register-link {
    text-align: center;
    margin-top: 10px;
}
.register-link a{
	color: #0056b3;
	cursor: pointer;
  }

  .conteudo-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
    justify-content: center;
  }

  .container-img{
    background-color: #3458FF ;
    border-radius: 18px 0 0 18px;
  }
  .container-img img{
    height: 400px;
  }

  @media (max-width: 768px) {
    .container-img{
        display: none;
    }
    .login-content {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }