<div class="dashboard">
  <h2 style ="color: rgb(0, 0, 218)">Bem-vindo, Colaborador!</h2>
  <p class="intro">
    Acesse seus documentos, relatórios e recursos exclusivos da cooperativa.
  </p>

  <div class="grid">
    <a routerLink="/documentos" class="card">📄 Documentos</a>
    <a routerLink="/relatorios" class="card">📊 Relatórios</a>
    <a (click)="navegarParaPerfil()" class="card">👤 Meu Perfil</a>
    <div class="if" *ngIf="admin">
      <a routerLink="/adicionar-colaborador" class="card">➕ Adicionar Colaborador</a>
    </div>
 

  </div>
</div>
