    <main>
        <section class="calendario-eventos">
            <h2>Calendário de Eventos</h2>
            <iframe src="https://calendar.google.com/calendar/embed?src=seu_email@gmail.com" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </section>

		<section class="detalhes-eventos">
			<h2>Próximos Eventos</h2>
			<div class="eventos-grid">
			  <div class="evento">
				<h3>Assembleia Geral</h3>
				<p><strong>Data:</strong> 15 de Abril, 2025</p>
				<p><strong>Local:</strong> Auditório Central</p>
				<p><strong>Descrição:</strong> Assembleia para discussão de projetos da cooperativa.</p>
				<button>Inscreva-se</button>
			  </div>
		  
			  <div class="evento">
				<h3>Workshop de Inovação</h3>
				<p><strong>Data:</strong> 22 de Abril, 2025</p>
				<p><strong>Local:</strong> Sala de Conferências</p>
				<p><strong>Descrição:</strong> Aprenda técnicas de inovação para o seu negócio.</p>
				<button>Inscreva-se</button>
			  </div>
		  
			  <div class="evento">
				<h3>Palestra sobre Sustentabilidade</h3>
				<p><strong>Data:</strong> 25 de Abril, 2025</p>
				<p><strong>Local:</strong> Auditório Verde</p>
				<p><strong>Descrição:</strong> Como implementar práticas sustentáveis no dia a dia.</p>
				<button>Inscreva-se</button>
			  </div>
		  
			  <div class="evento">
				<h3>Treinamento Financeiro</h3>
				<p><strong>Data:</strong> 28 de Abril, 2025</p>
				<p><strong>Local:</strong> Sala 101</p>
				<p><strong>Descrição:</strong> Gestão de finanças pessoais e investimentos.</p>
				<button>Inscreva-se</button>
			  </div>
		  
			  <div class="evento">
				<h3>Oficina de Marketing Digital</h3>
				<p><strong>Data:</strong> 02 de Maio, 2025</p>
				<p><strong>Local:</strong> Espaço Coworking</p>
				<p><strong>Descrição:</strong> Estratégias de marketing para redes sociais.</p>
				<button>Inscreva-se</button>
			  </div>
		  
			  <div class="evento">
				<h3>Encontro de Cooperados</h3>
				<p><strong>Data:</strong> 05 de Maio, 2025</p>
				<p><strong>Local:</strong> Refeitório</p>
				<p><strong>Descrição:</strong> Momento de integração entre os membros da cooperativa.</p>
				<button>Inscreva-se</button>
			  </div>
		  
			  <div class="evento">
				<h3>Curso de Gestão de Projetos</h3>
				<p><strong>Data:</strong> 10 de Maio, 2025</p>
				<p><strong>Local:</strong> Sala Multiuso</p>
				<p><strong>Descrição:</strong> Ferramentas para gerenciamento de projetos.</p>
				<button>Inscreva-se</button>
			  </div>
		  
			  <div class="evento">
				<h3>Palestra Motivacional</h3>
				<p><strong>Data:</strong> 14 de Maio, 2025</p>
				<p><strong>Local:</strong> Auditório Principal</p>
				<p><strong>Descrição:</strong> Inspire-se com histórias de superação.</p>
				<button>Inscreva-se</button>
			  </div>
			</div>
		  </section>
		  
    </main>
