
main {
    padding: 20px;
    text-align: center;
	margin: 0;
    font-family: 'Lato', sans-serif;
}

.calendario-eventos {
    margin-bottom: 40px;
}
.calendario-eventos h2 {
    color: #3458ff;
	  font-size: 2.5rem;
	  margin-bottom: 1.5rem;
	  text-align: center;
	  font-family: 'Raleway', sans-serif;
}

.detalhes-eventos {
    width: 100%;
    margin: auto;
}
.detalhes-eventos h2{
    color: #3458ff;
	  font-size: 2.5rem;
	  margin-bottom: 1.5rem;
	  text-align: center;
	  font-family: 'Raleway', sans-serif;
}

.evento {
	background-color: #f4f4f4;
	color: #2c3e50;
	padding: 15px;
	border-radius: 8px;
	aspect-ratio: 1 / 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	text-align: left;
  }

.eventos-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	justify-items: center;
  }

  .evento h3 {
	font-size: 1.2rem;
	margin-bottom: 10px;
  }
  
  .evento p {
	margin: 5px 0;
	font-size: 0.95rem;
  }

button {
    background-color: #3458ff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #1d3fcf;
}