<!-- eventos.component.html -->
<main>
	<div *ngIf="alerta.visivel" class="alerta" [class]="'alerta-' + alerta.tipo">
		<div class="alerta-conteudo">
		  <span>{{ alerta.mensagem }}</span>
		  <button class="alerta-fechar" (click)="fecharAlerta()">×</button>
		</div>
	  </div>
	
	<section class="calendario-eventos">
	  <h2>Calendário de Eventos</h2>
	  <iframe src="https://calendar.google.com/calendar/embed?src=2722fbd0791f2e55ca047dfc8d75baf6f31cf3dca3dda76f5d9fc0116235d5b2%40group.calendar.google.com&ctz=America%2FFortaleza" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
	</section>
  
	<section class="detalhes-eventos">
	  <h2>Próximos Eventos</h2>
	  <div class="eventos-grid">
		<div class="evento" *ngFor="let evento of eventos">
		  <img [src]="evento.imagem" alt="Logo cooperativa VIVA" class="logo-evento" />
		  <h3>{{ evento.titulo }}</h3>
		  <p><strong>Data:</strong> {{ formatarData(evento.data) }}</p>
		  <p><strong>Local:</strong> {{ evento.local }}</p>
		  <p><strong>Descrição:</strong> {{ evento.descricao }}</p>
		  
		  <button 
			[disabled]="!evento.inscricaoAberta" 
			[ngClass]="{'botao-desabilitado': !evento.inscricaoAberta}"
			(click)="inscrever(evento)">
			{{ evento.inscricaoAberta ? 'Inscreva-se' : 'Inscrições encerradas' }}
		  </button>
		</div>
	  </div>
	</section>
  </main>