<div class="body-login">
    <div class="login-content">
    <div class="container-img">
        <img src="../../assets/imagens/simbolo-viva.png" alt="">
    </div>
    <div class="conteudo-form">
      <h2>Novo por aqui ?</h2>
      <p>Registre-se e tenha acesso a todos os benefícios de ser VIVA</p>
      <form>
        <input type="text" placeholder="Nome Completo" />
        <input type="date" placeholder="data de Nascimento" />
        <input type="text" placeholder="Email" />
        <input type="text" placeholder="Usuário" />
        <input type="password" placeholder="Senha" />
        <button type="submit">Criar conta</button>
      </form>
    </div>
    
    </div>
  </div>
